body {
    padding: 10px;
}

.listing-group {
    height: 200px;
}

.listing-image {
    height: 100%;
    max-width: 100%;
    width: auto;
    object-fit: contain;
    margin: auto;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}