{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}
    Listing: {{ listing.title }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if msg %}
            <div class="alert {{ msg.class }} alert-dismissible" role="alert">
                {{ msg.msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if not listing.active %}
            {% bid_result user listing as bid_result %}
            {{ bid_result | safe }}
        {% endif %}

        <h2 class="fw-bold">Listing: {{ listing.title }}</h2>

        {% if not listing.active %}
            <span class="badge text-bg-danger mb-2">Closed</span>
        {% endif %}

        {% if user.is_authenticated and user != listing.seller %}
            {% is_watching user listing as is_watching %}
            {% if is_watching %}
                <form action="{% url 'watchlist_remove' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-eye-slash small"></i>
                        Remove from Watchlist
                    </button>
                </form>
            {% else %}
                <form action="{% url 'watchlist_add' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-eye small"></i>
                        Add to Watchlist
                    </button>
                </form>
            {% endif %}
        {% endif %}
        

        {% if user == listing.seller and listing.active %}
            <form action="{% url 'close_listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-sm btn-danger" type="submit" value="Close Auction">
            </form>
        {% endif %}

        {% if listing.image_url %}
            <div class="listing-image-container text-center">
                <img class="listing-image" src="{{ listing.image_url }}" alt="{{ listing.title }}">
            </div>
        {% else %}
            <p class="text-center my-5">No Image Available</p>
        {% endif %}

        <p class="my-1">{{ listing.description }}</p>

        <h3 class="mt-3 fw-bold">${{ listing.current_price | number_commas }}</h3>

        {% bid_status_message user listing as bid_status %}
        {% if user.is_authenticated and listing.active and request.user != listing.seller %}
            <form action="{% url 'place_bid' listing.id %}" method="post">
                {% csrf_token %}
                {{ bid_status | safe }}
                {{ bid_form | crispy }}
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </form>
        {% else %}
            {{ bid_status | safe }}
        {% endif %}

        <h4 class="mt-4">Details</h4>
        <ul>
            <li><span class="fw-semibold">Listed by:</span> <a href="{% url 'user_listings' listing.seller.username %}" class="fw-bold link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{ listing.seller }}</a></li>
            <li><span class="fw-semibold">Created:</span> {{ listing.date }}</li>
            <li>
                <span class="fw-semibold">Brand: </span> 
                {% if listing.get_brand_display %}
                    {{ listing.get_brand_display }}
                {% else %}
                    <span class="text-danger fw-semibold">Not Listed</span>
                {% endif %}
            </li>
            <li>
                <span class="fw-semibold">Type: </span>
                {% if listing.get_type_display %}
                    {{ listing.get_type_display }}
                {% else %}
                    <span class="text-danger fw-semibold">Not Listed</span>
                {% endif %}
            </li>
            <li>
                <span class="fw-semibold">Condition: </span>
                {% if listing.get_condition_display %}
                    {{ listing.get_condition_display }}
                {% else %}
                    <span class="text-danger fw-semibold">Not Listed</span>
                {% endif %}
            </li>
        </ul>

        {% comment_count listing as comment_count %}
        {{ comment_count | safe }}
        {% if user.is_authenticated %}
            <form action="{% url 'post_comment' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <div class="text-end">
                    <input class="btn btn-primary" type="submit" value="Comment">
                </div>
            </form>
        {% endif %}

        {% get_comments listing as comments %}
        {% for comment in comments %}
            <p class="mb-1">
                <a href="{% url 'user_comments' comment.author.username %}" class="fw-bold link-underline link-underline-opacity-0 link-underline-opacity-100-hover">@{{ comment.author }}</a>
                <span class="small text-muted">{{ comment.date | time_ago }}</span>
            </p>
            <p>{{ comment.message }}</p>
        {% endfor %}
    </div>
{% endblock %}
