{% extends "auctions/listings_list.html" %}

{% load custom_filters %}

{% block title %}
    {{ user.username }}'s Watchlist
{% endblock %}

{% block heading %}
    {{ user.username }}'s Watchlist
{% endblock %}

{% block badges %}
    <p class="mb-0 small">
        {% if listing.active %}
            <span class="badge text-bg-success">Active</span>
        {% else %}
            <span class="badge text-bg-danger">Closed</span>
        {% endif %}

        {% bid_status_badge user listing as bid_badge %}
        {{ bid_badge | safe }}    
    </p>
{% endblock %}

{% block empty_msg %}
    You have not added any listings to your watchlist.
{% endblock %}
